.header {
  border-bottom: 1px solid rgba(25, 26, 21, 0.1);
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

@media (min-width: 768px) {
  .headerWrapper {
    padding: 20px 0;
  }
}

@media (min-width: 1440px) {
  .headerWrapper {
    padding: 24px 0;
  }
}
