.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 48px;
  margin-bottom: 40px;
  width: 758px;
}

.reviewsListItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewsHeader {
  display: flex;
  align-items: center;
  gap: 12px;
}

.reviewsHeader span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background: rgba(84, 190, 150, 0.2);
  color: #54be96;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px; /* 100% */
}

.reviewsHeaderWrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviewsAuthor {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px; /* 125% */
}

.reviewsRatingWrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.reviewsRatingWrap svg {
  fill: #ffc531;
}

.reviewsRating {
  font-weight: 500;
}

.reviewsText {
  color: rgba(25, 26, 21, 0.5);
  font-size: 16px;
  line-height: 20px; /* 125% */
}

.reviewsBtn {
  width: 227px;
  padding: 14px 32px;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: #54be96;
  color: #fbfbfb;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: -0.16px;
  display: block;
  cursor: pointer;
}
